<div class="header__wrapper">
  <div class="breadcrumbs__wrapper" *ngIf="$breadcrumbs | async as breadCrumbs">
    <ng-template
      #breadcrumbsTemplate
      let-breadcrumbs="breadcrumbs"
      let-activeLink="activeLink">
      <div
        class="breadcrumbs__item"
        *ngFor="let breadcrumb of breadcrumbs; let i = index; let last = last">
        <a
          class="breadcrumbs__link"
          routerLink="{{ breadcrumb.routerLink }}"
          [ngStyle]="{ color: last && activeLink ? '#000000' : '#D9D9D9' }">
          {{ breadcrumb.label | translate }}
        </a>
        <span class="span__separate" *ngIf="!last || !activeLink">/</span>
      </div>
    </ng-template>
    <ng-container
      *ngTemplateOutlet="
        breadcrumbsTemplate;
        context: { breadcrumbs: constantBreadcrumbs, activeLink: false }
      "></ng-container>
    <ng-container
      *ngTemplateOutlet="
        breadcrumbsTemplate;
        context: { breadcrumbs: breadCrumbs, activeLink: true }
      "></ng-container>
  </div>
  <h1 class="page__title">{{ ($pageInfo | async).pageTitle | translate }}</h1>
  <p class="page__subtitle">
    {{ ($pageInfo | async).pageSubtitle | translate }}
  </p>
</div>
