<mat-form-field class="wrapper__control">
  <mat-label>{{ label | translate }}</mat-label>
  <input
    matInput
    [formControl]="control"
    [type]="hide ? 'password' : 'text'"
    (blur)="onTouched()" />
  <mat-error *ngIf="control.invalid && (control.dirty || control.touched)">
    {{ control.errors | resolveErrorMessage }}
  </mat-error>
  <button
    *ngIf="type === 'password'"
    type="button"
    mat-icon-button
    matSuffix
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide">
    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
</mat-form-field>
