:host {
  display: block;
  height: 100%;
  width: 100%;
}

.wrapper__table {
  padding: 10px;
  height: 100%;
  .wrapper__btn {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
  }
}
