:host {
  display: block;
  height: 100%;
  width: 100%;
}

form {
  .project__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    & > * {
      width: 100%;
      max-width: 400px;
      margin-bottom: 10px;
    }
  }
}
