<form class="project__form" [formGroup]="projectForm">
  <app-input formControlName="projectName" label="Project name"></app-input>
  <app-input-date-picker
    formControlName="startDate"
    label="Start date"></app-input-date-picker>
  <app-input-date-picker
    formControlName="endDate"
    label="End date"></app-input-date-picker>
  <app-input formControlName="teamSize" label="Team size"></app-input>
  <app-input-chips
    label="Tech Stack"
    [autocompleteOptions]="techStack"
    [selectedOptions]="selectedTechStack"
    formControlName="techStack"></app-input-chips>
  <app-input-chips
    label="Team Roles"
    [autocompleteOptions]="roles"
    [selectedOptions]="selectedRoles"
    formControlName="roles"></app-input-chips>
  <app-input-chips
    label="Responsibilities"
    [autocompleteOptions]="responsibilities"
    [selectedOptions]="selectedResponsibilities"
    formControlName="responsibilities"></app-input-chips>
  <app-text-area
    formControlName="description"
    label="Description"></app-text-area>
</form>
