<button class="btn__language" (click)="switchLanguage()">
  <mat-icon fontIcon="language"></mat-icon>
</button>
<div class="form__container">
  <h1 class="auth__title">{{ 'authTitle' | translate }}</h1>
  <form class="form" [formGroup]="authForm">
    <app-input
      class="input__control"
      formControlName="email"
      label="emailInput"
      type="email"></app-input>
    <app-input
      class="input__control"
      formControlName="password"
      label="passwordInput"
      type="password"></app-input>
    <div class="footer__form">
      <mat-checkbox color="primary">{{
        'rememberBtn' | translate
      }}</mat-checkbox>
      <button type="button" mat-button color="primary">
        {{ 'passwordForgot' | translate }}
      </button>
    </div>
    <button (click)="submit()" mat-flat-button color="primary">
      {{ 'loginBtn' | translate }}
    </button>
  </form>
</div>
